Repository php-fig/fig-standards, pull requests merged in 2018-03, with the labels that each got.

#1014 [PSR16] Fix broken formatting under "Expiration"
  accepted/PSR-16-simple-cache.md
Labels: Aesthetics, PSR-6 + PSR-16: Cache

#1015 Fix non-ASCII characters
  accepted/PSR-6-cache.md
Labels: Aesthetics, PSR-6 + PSR-16: Cache

#915 Add Errata regarding DateTimeInterface handling for pre-5.5 environments, using exceptions
  accepted/PSR-6-cache-meta.md
Labels: PSR-6 + PSR-16: Cache

#1017 Fix PSR-4 metadoc headings
  accepted/PSR-4-autoloader-meta.md
Labels: Aesthetics, PSR-0 + PSR-4: Autoloading
