Repository php-fig/fig-standards, pull requests merged in 2018-05, with the labels that each got.

#1023 [PSR-12] Add missing blank line between use blocks
  proposed/extended-coding-style-guide.md
Labels: PSR-1 + PSR-2 + PSR-12: Coding Style, Typos and Errata

#1027 Add Alessandro Lai to the PSR-12 WG
  proposed/extended-coding-style-guide-meta.md
Labels: PSR-1 + PSR-2 + PSR-12: Coding Style

#1028 [PSR11] Fix heading format bugs
  accepted/PSR-11-container-meta.md
Labels: Aesthetics, PSR-11: Container

#1029 Index: Update numerical index to use status directly
  index.md
Labels: Aesthetics

#914 Update headings
  accepted/PSR-16-simple-cache-meta.md
Labels: PSR-6 + PSR-16: Cache, Typos and Errata

#1022 PSR-17: Incorporate interface changes proposed within working group
  proposed/http-factory/http-factory-meta.md
  proposed/http-factory/http-factory.md
Labels: PSR-17: HTTP Factory

#1032 [PSR-17] Remove unnecessary returns from docblocks
  proposed/http-factory/http-factory.md
Labels: PSR-17: HTTP Factory

#1034 Fixed typo
  proposed/http-factory/http-factory.md
Labels: PSR-17: HTTP Factory, Typos and Errata

#1026 Update phpdoc-meta.md
  proposed/phpdoc-meta.md
Labels: PSR-5: PHPDoc
