Repository php-fig/fig-standards, pull requests merged in 2018-08, with the labels that each got.

#1058 Remove reference to interface inheritance
  accepted/PSR-17-http-factory.md
Labels: PSR-17: HTTP Factory

#1059 Overhaul descriptions for the new naming of things.
  proposed/event-dispatcher-meta.md
  proposed/event-dispatcher.md
Labels: PSR-14: Events

#1064 Fix incorrect word usage
  proposed/extended-coding-style-guide.md
Labels: PSR-1 + PSR-2 + PSR-12: Coding Style

#1065 Psr 14 clarifications
  proposed/event-dispatcher-meta.md
  proposed/event-dispatcher.md
Labels: PSR-14: Events
