Repository php-fig/fig-standards, pull requests merged in 2018-09, with the labels that each got.

#1069 Style fix: Added the Interface suffix
  proposed/http-client/http-client-meta.md
  proposed/http-client/http-client.md
Labels: PSR-18: HTTP Client

#1070 Provide guidance on when to use Messages vs Tasks
  proposed/event-dispatcher-meta.md
Labels: PSR-14: Events

#1077 PSR 14 updates
  proposed/event-dispatcher.md
Labels: PSR-14: Events

#1072 PSR 18 wordsmithing
  proposed/http-client/http-client.md
Labels: PSR-18: HTTP Client

#1078 Update PSR-5 to draft and add PSR-19
  index.md
  proposed/phpdoc-tags.md
Labels: PSR-5: PHPDoc

#1082 PSR-5: Fix formatting and indentation in FQSEN definition
  proposed/phpdoc.md
Labels: PSR-5 + PSR-19: PHPDoc

#1083 Add previous PSR-5 contributors to meta doc
  proposed/phpdoc-meta.md
Labels: PSR-5 + PSR-19: PHPDoc
