Repository php-fig/fig-standards, pull requests merged in 2018-10, with the labels that each got.

#1086 PSR-19: Change GPL-2.0+ to GPL-2.0-or-later
  proposed/phpdoc-tags.md
Labels: PSR-5 + PSR-19: PHPDoc, Typos and Errata

#1085 Finalize PSR-14
  proposed/event-dispatcher-meta.md
  proposed/event-dispatcher.md
Labels: PSR-14: Events

#1089 Add rule for increment/decrement operator
  proposed/extended-coding-style-guide.md
Labels: PSR-1 + PSR-2 + PSR-12: Coding Style

#1090 Add return type rule for closures
  proposed/extended-coding-style-guide.md
Labels: PSR-1 + PSR-2 + PSR-12: Coding Style

#1087 Downstream changes from phpDocumentor/fig-standards fork
  proposed/phpdoc.md
Labels: PSR-5 + PSR-19: PHPDoc

#1092 [PSR-18] Added two paragraphs about middleware and decorating classes
  proposed/http-client/http-client-meta.md
Labels: PSR-18: HTTP Client

#1094 Fixes Liskov plurality
  proposed/http-client/http-client.md
Labels: PSR-18: HTTP Client

#1091 [PSR-18] Fixed the menu order
  proposed/http-client/http-client-meta.md
Labels: PSR-18: HTTP Client, Typos and Errata

#1093 use `$this->authorizationMap` instead of `$authorizationMap`
  accepted/PSR-15-request-handlers-meta.md
Labels: PSR-15: HTTP Request Handlers, Typos and Errata

#1096 add naming rationale to metadoc
  proposed/http-client/http-client-meta.md
Labels: PSR-18: HTTP Client

#1098 "a / an" articles
  proposed/http-client/http-client.md
Labels: PSR-18: HTTP Client

#1103 add links to entrance vote
  proposed/phpdoc-meta.md
  proposed/phpdoc-tags-meta.md
Labels: PSR-5 + PSR-19: PHPDoc

#1102 remove references to generics
  proposed/phpdoc.md
Labels: PSR-5 + PSR-19: PHPDoc

#1101 simple fix of 4.3 section headings
  proposed/phpdoc-tags.md
Labels: PSR-5 + PSR-19: PHPDoc

#1099 revert deprecation of link tag
  proposed/phpdoc-tags.md
Labels: PSR-5 + PSR-19: PHPDoc

#1108 PSR-18 accepted
  accepted/PSR-18-http-client-meta.md
  accepted/PSR-18-http-client.md
  index.md
Labels: PSR-18: HTTP Client

#1076 Edited PSR-13 files for small punctuation fixes.
  accepted/PSR-13-links.md
Labels: PSR-13: Link, Typos and Errata

#1075 Edited PSR-15 files for small typos/grammar fixes.
  accepted/PSR-15-request-handlers.md
Labels: PSR-15: HTTP Request Handlers, Typos and Errata

#1074 Edited PSR-16 files for small typos/grammar fixes.
  accepted/PSR-16-simple-cache.md
Labels: PSR-6 + PSR-16: Cache, Typos and Errata

#1073 Update PSR-17 grammar / English wording
  accepted/PSR-17-http-factory.md
Labels: PSR-17: HTTP Factory, Typos and Errata

#1110 Describe the format of $_FILES correctly for nested element names [rebased]
  accepted/PSR-7-http-message.md
Labels: PSR-7: HTTP Message, Typos and Errata

#1107 [PSR-15] Correct summary format
  accepted/PSR-15-request-handlers.md
Labels: Aesthetics, PSR-15: HTTP Request Handlers, Typos and Errata
