Repository php-fig/fig-standards, pull requests merged in 2018-06, with the labels that each got.

#1040 Tiny clarification about a request factory
  proposed/http-factory/http-factory-meta.md
Labels: PSR-17: HTTP Factory

#960 Editing: Re-word lead sentence
  proposed/http-factory/http-factory-meta.md
Labels: PSR-17: HTTP Factory

#1046 Use symfony.com canonical URL for security
  proposed/security-reporting-process-meta.md
Labels: Aesthetics, PSR-9 + PSR-10: Security

#1043 [PSR-17] Removes/rephrases "popular"
  proposed/http-factory/http-factory-meta.md
Labels: PSR-17: HTTP Factory

#1049 Nylhom -> Nyholm
  index.md
Labels: Typos and Errata
