Repository php-fig/fig-standards, pull requests merged in 2018-12, with the labels that each got.

#1123 [PSR-19] Clarify that the deprecated version is effective from the given version
  proposed/phpdoc-tags.md
Labels: PSR-5 + PSR-19: PHPDoc

#1124 add jaapio to wg
  proposed/phpdoc-meta.md
  proposed/phpdoc-tags-meta.md
Labels: PSR-5 + PSR-19: PHPDoc

#1126 Fix misspelling of "lightweight"
  bylaws/007-psr-naming-conventions.md
Labels: Typos and Errata

#1127 fix typo
  proposed/extended-coding-style-guide.md
Labels: PSR-1 + PSR-2 + PSR-12: Coding Style, Typos and Errata

#1129 [PSR-12] Fix grammatical errors
  proposed/extended-coding-style-guide.md
Labels: PSR-1 + PSR-2 + PSR-12: Coding Style
