Repository php-fig/fig-standards, pull requests merged in 2019-09, with the labels that each got.

#1186 [PSR-6] PHPDoc
  accepted/PSR-6-cache.md
Labels: PSR-6 + PSR-16: Cache, Typos and Errata

#1187 Fix position of full stop
  accepted/PSR-12-extended-coding-style-guide-meta.md
Labels: PSR-1 + PSR-2 + PSR-12: Coding Style, Typos and Errata

#1183 [PSR-12] Multiple small impact updates:
  accepted/PSR-12-extended-coding-style-guide.md
Labels: PSR-1 + PSR-2 + PSR-12: Coding Style

#1189 Revert "Merge pull request #1185 from gmponos/patch-1"
  accepted/PSR-12-extended-coding-style-guide.md
Labels: PSR-1 + PSR-2 + PSR-12: Coding Style

#1188 Revert "[PSR-12] Multiple small impact updates: (#1183)"
  accepted/PSR-12-extended-coding-style-guide.md
Labels: PSR-1 + PSR-2 + PSR-12: Coding Style
