Repository php-fig/fig-standards, pull requests merged in 2019-01, with the labels that each got.

#1135 Fix syntax error
  proposed/phpdoc.md
Labels: PSR-5 + PSR-19: PHPDoc

#1136 Revise wording around event identification.
  proposed/event-dispatcher.md
Labels: PSR-14: Events

#1141 Added type casting rule
  proposed/extended-coding-style-guide-meta.md
  proposed/extended-coding-style-guide.md
Labels: PSR-1 + PSR-2 + PSR-12: Coding Style

#1144 [PSR-12] Covered typed properties
  proposed/extended-coding-style-guide-meta.md
  proposed/extended-coding-style-guide.md
Labels: PSR-1 + PSR-2 + PSR-12: Coding Style

#1142 [PSR-12] Added variadic arguments
  proposed/extended-coding-style-guide-meta.md
  proposed/extended-coding-style-guide.md
Labels: PSR-1 + PSR-2 + PSR-12: Coding Style

#1145 Psr 14 type tweaks
  proposed/event-dispatcher.md
Labels: PSR-14: Events
