Repository php-fig/fig-standards, pull requests merged in 2019-05, with the labels that each got.

#1159 aligned word order
  accepted/PSR-14-event-dispatcher.md
Labels: PSR-14: Events

#1163 [PSR-12] Revert article usage
  proposed/extended-coding-style-guide.md
Labels: PSR-1 + PSR-2 + PSR-12: Coding Style

#1169 Update personnel page as per May elections results
  personnel.md
Labels: Internal: Bylaw or Admin Change

#1170 Remove mention of appendix a
  proposed/phpdoc-tags.md
Labels: PSR-5 + PSR-19: PHPDoc
