Repository php-fig/fig-standards, pull requests merged in 2021-03, with the labels that each got.

#1215 Add errata detailing addition of scalar type hints for PSR-11 (ContainerInterface)
  accepted/PSR-11-container-meta.md
  accepted/PSR-11-container.md
Labels: PSR-11: Container, WIP

#1222 Add errata to correct the legal types for attribute values.
  accepted/PSR-13-links-meta.md
Labels: PSR-13: Link

#1224 New PSR for ClockInterface
  proposed/clock-meta.md
  proposed/clock.md
Labels: PSR-20: Clock

#1225 Correct `side affects` to `side effects`
  proposed/clock.md
Labels: PSR-20: Clock, Typos and Errata
