Repository php-fig/fig-standards, pull requests merged in 2021-02, with the labels that each got.

#1221 Update PSR-7-http-message.md
  accepted/PSR-7-http-message.md
Labels: PSR-7: HTTP Message, Typos and Errata

#1220 Add errata for type additions.
  accepted/PSR-6-cache-meta.md
  accepted/PSR-6-cache.md
Labels: PSR-6 + PSR-16: Cache

#1199 Add errata for typed releases of PSR-13.
  accepted/PSR-13-links-meta.md
  accepted/PSR-13-links.md
Labels: PSR-13: Link

#1223 Update typo in 001-mission-and-structure.md
  bylaws/001-mission-and-structure.md
Labels: Typos and Errata
