Repository php-fig/fig-standards, pull requests merged in 2022-04, with the labels that each got.

#1234 [PHPDoc] Clarify that @property/@var names are prefixed with a $
  proposed/phpdoc-tags.md
Labels: PSR-5 + PSR-19: PHPDoc

#1191 Propose `never` type
  proposed/phpdoc.md
Labels: PSR-5 + PSR-19: PHPDoc

#1273 PSR-Tracing - Pre-Draft Specification & Meta
  proposed/tracing-meta.md
  proposed/tracing.md
Labels: New PSR, WIP, PSR-22: Tracing

#1275 Update tracing.md
  proposed/tracing.md
Labels: Typos and Errata, PSR-22: Tracing

#1277 Fix typo/incorrect negation in 007-psr-amendments.md
  bylaws/007-psr-amendments.md
Labels: Typos and Errata

#1278 Fix links in phpdoc-tags.md
  proposed/phpdoc-tags.md
Labels: PSR-5 + PSR-19: PHPDoc, Aesthetics
