Repository php-fig/fig-standards, pull requests merged in 2024-03, with the labels that each got.

#1287 Fix ABNF in `phpdoc.md`
  proposed/phpdoc.md
Labels: PSR-5 + PSR-19: PHPDoc

#1317 PSR-14: PSR12 compliant code formatting
  accepted/PSR-14-event-dispatcher.md
Labels: PSR-14: Events

#1318 Some updates - correct term end dates, add Steve McDougall's twitter link
  personnel.md
Labels: Internal: Bylaw or Admin Change
